:root {
	/* https://oklch.com/#75,0.1,20,100 */
	--color-20-75: #e69494;
	/* https://oklch.com/#75,0.1,80,100 */
	--color-80-75: #cfa761;
	/* https://oklch.com/#75,0.1,150,100 */
	--color-150-75: #7fc08c;
	/* https://oklch.com/#15,0.2,255,100 */
	--color-255-15: #000b1f;
	/* https://oklch.com/#40,0.05,255,100 */
	--color-255-40: oklch(40% 0.05 255);
	/* https://oklch.com/#75,0.2,255,100 */
	--color-255-75: #73b1ff;
	/* https://oklch.com/#75,0.05,255,100 */
	--color-255-75-5: #99b0ce;
	/* https://oklch.com/#95,0.2,255,100 */
	--color-255-95: #e4f0ff;
	/* https://oklch.com/#75,0.2,285,100 */
	--color-285-75: #a6a1ff;

	--color-base: var(--color-255-15);
	--color-border: var(--color-255-40);
	--color-code: var(--color-150-75);
	--color-link: var(--color-255-75);
	--color-mark: var(--color-80-75);
	--color-muted: var(--color-255-75-5);
	--color-text: var(--color-255-95);
	--color-visited: var(--color-285-75);

	--astro-code-color-text: var(--color-text);
	--astro-code-color-background: none;
	--astro-code-token-constant: var(--color-text);
	--astro-code-token-string: var(--color-text);
	--astro-code-token-comment: var(--color-muted);
	--astro-code-token-keyword: var(--color-link);
	--astro-code-token-parameter: var(--color-text);
	--astro-code-token-function: var(--color-visited);
	--astro-code-token-string-expression: var(--color-code);
	--astro-code-token-punctuation: var(--color-text);
	--astro-code-token-link: var(--color-link);

	--1px: calc(1rem/16);
	--2px: calc(2rem/16);
	--4px: calc(4rem/16);
	--8px: calc(8rem/16);
	--16px: 1rem;
	--18px: calc(18rem/16);
	--20px: calc(20rem/16);
	--24px: calc(24rem/16);
	--32px: calc(32rem/16);

	--fs-0: var(--16px);
	--fs-1: var(--18px);
	--fs-2: var(--20px);
	--fs-3: var(--24px);
	--fs-4: var(--32px);

	--font-main: "Libre Franklin Variable", sans-serif;
	--font-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

	--border: var(--2px) solid var(--color-border);
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	background-color: var(--color-base);
	-webkit-text-size-adjust: 100%;
}

body {
	color: var(--color-text);
	font-family: var(--font-main);
	font-size: var(--fs-1);
	line-height: 1.4;
	margin: auto;
	max-width: 72em;
	padding: 2em clamp(1em, 2.5vw, 2em);
}

a {
	color: var(--color-link);
	text-decoration: underline;
}

a:focus {
	outline: var(--2px) solid var(--color-link);
	outline-offset: var(--2px);
}

a:visited {
	color: var(--color-visited);
}

blockquote {
	border-left: var(--border);
	margin: 0;
	padding: 0 0 0 1em;
}

blockquote :first-child {
	margin-top: 0;
}

code {
	overflow-wrap: break-word;
}

code,
pre {
	color: var(--color-code);
	font-family: var(--font-mono);
	tab-size: 2;
}

dd {
	margin: 0;
}

dt {
	color: var(--color-code);
	font-weight: bold;
	margin-top: 0.5em;
}

footer,
main {
	margin-top: 2em;
}

blockquote,
dl,
figure,
ol,
p,
pre,
table,
ul {
	margin-top: 1em;
}

figcaption {
	font-size: var(--fs-0);
}

h1, h2, h3, h4 {
	font-weight: bold;
	margin-top: 2em;
	text-wrap: balance;
}

h1 {
	font-size: var(--fs-4);
	margin-top: 0;
}

h2 {
	font-size: var(--fs-3);
}

h2 {
	border-top: var(--border);
	margin-top: 2em;
	padding-top: 2em;
}

h3 {
	font-size: var(--fs-2);
}

h4 {
	font-size: var(--fs-1);
}

hr {
	border: var(--1px) solid var(--color-link);
	margin: var(--32px) 0;
}

img {
	max-width: 100%;
	height: auto;
}

li:not(:first-child) {
	margin-top: 0.5em;
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fill, 12em);
	text-wrap: pretty;
}

main::after {
	--size: 0.75em;
	border: var(--2px) solid var(--color-link);
	border-radius: var(--2px);
	content: "";
	display: block;
	height: var(--size);
	margin: 2em 0 0;
	transform: rotate(45deg);
	width: var(--size);
}

main::after,
main > * {
	grid-column: 1 / 4;
}

mark {
	background-color: var(--color-mark);
	color: var(--color-base);
}

mark::before {
	content: " [highlight start] ";
}

mark::after {
	content: " [highlight end] ";
}

ol,
ul {
	padding: 0 0 0 1.5em;
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin-top: 0;
}

pre > code {
	all: unset;
}

table {
	border: var(--border);
	border-radius: var(--4px);
	border-spacing: 0;
	padding: var(--2px);
	width: 100%;
}

td,
th {
	padding: 0.5em 1em;
}

th {
	background-color: var(--color-border);
	font-size: var(--fs-0);
}

.list-inline {
	display: flex;
	gap: 1.5em;
	list-style-type: "";
	padding: 0;
}

.list-inline--center {
	justify-content: center;
}

.list-inline > * {
	flex-wrap: wrap;
	margin: 0;
}

mark::before,
mark::after,
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.u-flex {
	display: flex;
}

.u-nowrap {
	white-space: nowrap;
}

@media (min-width: 40em) {

	main {
		column-gap: 2em;
	}
}

@media (min-width: 50em) {

	main > :is(h1, pre, .u-width-full) {
		grid-column: 1 / -1;
	}
}

@media (min-width: 72em) {

	.u-grid-aside {
		grid-column: 4 / 6;
		grid-row-end: span 9;
	}

	.u-grid-aside--top {
		grid-row-start: 2;
	}

	.u-grid-aside--top-2 {
		grid-row-start: 3;
	}
}
