:root {
	/* https://oklch.com/#75,0.1,20,100 */
	--color-20-75: #e69494;
	/* https://oklch.com/#75,0.1,80,100 */
	--color-80-75: #cfa761;
	/* https://oklch.com/#75,0.1,150,100 */
	--color-150-75: #7fc08c;
	/* https://oklch.com/#15,0.2,255,100 */
	--color-255-15: #000b1f;
	/* https://oklch.com/#40,0.05,255,100 */
	--color-255-40: oklch(40% 0.05 255);
	/* https://oklch.com/#75,0.2,255,100 */
	--color-255-75: #73b1ff;
	/* https://oklch.com/#75,0.05,255,100 */
	--color-255-75-5: #99b0ce;
	/* https://oklch.com/#95,0.2,255,100 */
	--color-255-95: #e4f0ff;
	/* https://oklch.com/#75,0.2,285,100 */
	--color-285-75: #a6a1ff;

	--color-base: var(--color-255-15);
	--color-border: var(--color-255-40);
	--color-code: var(--color-150-75);
	--color-link: var(--color-255-75);
	--color-mark: var(--color-80-75);
	--color-muted: var(--color-255-75-5);
	--color-text: var(--color-255-95);
	--color-visited: var(--color-285-75);

	--astro-code-color-text: var(--color-text);
	--astro-code-color-background: none;
	--astro-code-token-constant: var(--color-text);
	--astro-code-token-string: var(--color-text);
	--astro-code-token-comment: var(--color-muted);
	--astro-code-token-keyword: var(--color-link);
	--astro-code-token-parameter: var(--color-text);
	--astro-code-token-function: var(--color-visited);
	--astro-code-token-string-expression: var(--color-code);
	--astro-code-token-punctuation: var(--color-text);
	--astro-code-token-link: var(--color-link);

	--2px: calc(2rem/16);

	--fs-0: 1rem;
	--fs-1: calc(18rem/16);
	--fs-2: 1.5rem;
	--fs-3: 2rem;
	--fs-4: clamp(2.5rem, 1rem + 5vw, 3rem);

	--fs-0x: min(calc(calc(14rem/16) + 5vw), 1rem);
	--fs-1x: min(calc(1rem + 5vw), calc(18rem/16));
	--fs-2x: min(calc(1.25rem + 5vw), 1.5rem);
	--fs-3x: min(calc(1.75rem + 5vw), 2rem);
	--fs-4x: min(calc(2rem + 5vw), 3rem);

	--font-main: "Libre Franklin Variable", sans-serif;
	--font-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

	--border-width: var(--2px);
	--border: var(--border-width) solid var(--color-border);
	--border-radius: 0.25rem;

	--col-count: 5;
	--col-gap: 2rem;
	--col-size: 14rem;
	--col-2-size: calc(var(--col-size) + var(--col-gap) + var(--col-size));
	--col-3-size: calc(var(--col-2-size) + var(--col-gap) + var(--col-size));
	--page-size: calc(var(--col-3-size) + var(--col-gap) + var(--col-2-size));

	--indent: calc(1em + var(--border-width) * 2);
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	background-color: var(--color-base);
	padding: 0 calc(1rem + 2.5vw);
	-webkit-text-size-adjust: 100%;
}

body {
	color: var(--color-text);
	font-family: var(--font-main);
	font-size: var(--fs-1);
	line-height: 1.4;
	margin: auto;
	max-width: var(--page-size);
}

a {
	color: var(--color-link);
	text-decoration: underline;
}

a:focus {
	outline: var(--2px) solid var(--color-link);
	outline-offset: var(--2px);
}

a:visited {
	color: var(--color-visited);
}

blockquote {
	border-left: calc(var(--border-width) * 2) solid var(--color-border);
	margin: 0;
	padding: 0 0 0 1em;
}

blockquote :first-child {
	margin-top: 0;
}

code {
	overflow-wrap: break-word;
}

code,
pre {
	color: var(--color-code);
	font-family: var(--font-mono);
	tab-size: 2;
}

dd {
	margin-left: var(--indent);
}

dt {
	color: var(--color-code);
	font-weight: bold;
	margin-top: 0.5em;
}

blockquote,
dl,
figure,
ol,
p,
pre,
table,
ul {
	margin-top: 1em;
}

figcaption {
	font-size: var(--fs-0);
}

h1, h2, h3, h4, hr {
	font-weight: bold;
	margin-top: clamp(1em, 0.5em + 5vh, 2em);
	text-wrap: balance;
}

h1,
.fs-4 {
	font-size: var(--fs-4);
}

h2,
hr:has(+ h2),
.fs-3 {
	font-size: var(--fs-3);
}

h3,
hr:has(+ h3),
.fs-2 {
	font-size: var(--fs-2);
}

h4,
hr:has(+ h4),
.fs-1 {
	font-size: var(--fs-1);
}

hr {
	border: var(--border);
	border-bottom-width: 0;
}

img {
	max-width: 100%;
	height: auto;
}

li:not(:first-child) {
	margin-top: 0.5em;
}

main {
	text-wrap: pretty;
}

mark {
	background-color: var(--color-mark);
	color: var(--color-base);
}

mark::before {
	content: " [highlight start] ";
}

mark::after {
	content: " [highlight end] ";
}

ol,
ul {
	padding: 0 0 0 var(--indent);
}

:is(ol, ul) :is(ol, ul) {
	margin-top: 0.5em;
}

pre > code {
	all: unset;
}

table {
	border: var(--border);
	border-radius: var(--border-radius);
	border-spacing: 0;
	display: block;
	max-width: fit-content;
	overflow-x: auto;
	padding: var(--2px);
}

td,
th {
	padding: 0.5em 1em;
}

th {
	background-color: var(--color-border);
	font-size: var(--fs-0);
}

:is(main, article):has(> h1) > *:not(h1, table) {
	max-width: var(--col-3-size);
}

.condensed h3 {
	margin-top: 1em;
}

.condensed p {
	margin-top: 0.5em;
}

.layout {
	display: flex;
	gap: 0 var(--col-gap);
	flex-wrap: wrap;
	max-width: unset;
}

.layout__1-2,
.layout__2-5,
.layout__3-5 {
	flex-basis: calc(var(--col-size) * 2);
	flex-grow: 1;
	max-width: var(--col-3-size);
}

.layout__2-5 {
	flex-grow: 0;
}

.list-plain {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

mark::before,
mark::after,
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.u-flex {
	display: flex;
}

.u-nowrap {
	white-space: nowrap;
}

.u-grid-aside :first-child {
	margin-top: 0;
}

.u-width-full {
	max-width: unset;
}

@media (min-width: 50em) {

	.u-grid-aside {
		clear: inline-end;
		float: inline-end;
		margin-inline-start: var(--col-gap);
		margin-block-end: 1em;
		width: var(--col-2-size);
	}
}
