<div class="u-grid-aside">
	<aside>
		<slot />
	</aside>
</div>

<style>
	aside {
		border: var(--2px) solid var(--color-link);
		border-radius: var(--4px);
		margin-top: var(--16px);
		padding: 0 var(--16px) var(--16px);
	}
</style>
