---
const { label } = Astro.props;
---

<figure>
	{label && <figcaption>{label}</figcaption>}
	<div>
		<slot />
	</div>
</figure>

<style>
	figure {
		border: var(--border);
		border-radius: var(--border-radius);
		padding: var(--2px);
	}

	figcaption {
		background-color: var(--color-border);
		padding: 0.5em 1em;
	}

	div {
		margin: 1em;
	}
</style>
