<footer>
	<ul class="fs-0 list-inline">
		<li><a href="/">Home</a></li>
		<li><a href="/purpose">Purpose statement</a></li>
		<li><a href="/colophon">Colophon</a></li>
		<li><a href="/rss.xml">RSS feed</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</footer>

<style>
	footer {
		border-top: var(--border);
		margin-top: 4rem;
		padding: 2rem 0;
	}
</style>
