---
import { SITE_TITLE } from "@src/consts";

const { title } = Astro.props;
---

<header>
	<a href="/">
		<span aria-hidden="true" class="icon">B</span>
		<span class:list={[ { 'sr-only': !title }]}>{SITE_TITLE}</span>
	</a>
</header>

<style>
	a,
	a:visited {
		align-items: center;
		color: var(--color-text);
		display: inline-flex;
		font-weight: bold;
		gap: 1em;
		text-decoration: none;
	}

	.icon {
		--size: 2.5rem;
		align-items: center;
		background-color: var(--color-link);
		border-radius: calc(2rem/16);
		color: var(--color-base);
		display: inline-flex;
		font-size: var(--fs-2);
		height: var(--size);
		justify-content: center;
		width: var(--size);
	}
</style>
