---
import { SITE_TITLE } from "@src/consts";

const { title } = Astro.props;
---

<header>
	<a href="/">
		<img alt="" class="logo" src="/logo.svg" />
		<span class:list={[ { 'sr-only': !title }]}>{SITE_TITLE}</span>
	</a>
</header>

<style>
	a,
	a:visited {
		align-items: center;
		color: var(--color-text);
		display: inline-flex;
		font-size: var(--fs-2);
		gap: 1rem;
		text-decoration: none;
	}

	.logo {
		height: 4rem;
		width: 4rem;
	}
</style>
