---
import HeaderLink from './HeaderLink.astro';
import { GITHUB, SITE_TITLE, TWITTER } from '../consts';
---

<header>
	<div class="title">
		{SITE_TITLE}
	</div>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href={TWITTER} target="_blank">Twitter</HeaderLink>
		<HeaderLink href={GITHUB} target="_blank">GitHub</HeaderLink>
	</nav>
</header>

<style>
	header {
		margin: 0 0 2em;
	}
	.title {
		font-size: calc(24rem/16);
		margin: 0.5em 0;
	}
</style>
