---
import { SITE_TITLE } from "@src/consts";
---

<header>
	<nav class="list-inline">
		<a href="/">
			<img alt="" class="logo" src="/logo.svg" />
			<span>{SITE_TITLE}</span>
		</a>
		<ul class="list-inline">
			<li><a href="/notes">Notes</a></li>
			<li><a href="/talks">Talks</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>

<style>
	header {
		padding-top: 2rem;
	}

	a:has(.logo) {
		align-items: center;
		color: var(--color-text);
		display: inline-flex;
		font-size: var(--fs-2);
		font-weight: bold;
		gap: 1em;
		text-decoration: none;
	}

	a:has(.logo):visited {
		color: currentColor;
	}

	.logo {
		height: 4rem;
		width: 4rem;
	}
</style>
