---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
const current = isActive ? 'page' : null
---

<a aria-current={current} href={href} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}

	a[aria-current] {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
