---
import { SITE_TITLE } from "@src/consts";
---

<header>
	<nav>
		<a href="/">
			<img alt="" class="logo" src="/logo.svg" />
			<span>{SITE_TITLE}</span>
		</a>
		<div>
			<a href="/notes">Notes</a>
			<a href="/talks">Talks</a>
			<a href="/resume">Résumé</a>
		</div>
	</nav>
</header>

<style>
	header {
		padding-top: 2rem;
	}

	nav,
	nav > div {
		align-items: center;
		display: flex;
		gap: 1em 2em;
		flex-wrap: wrap;
	}

	a:has(.logo) {
		align-items: center;
		color: var(--color-text);
		display: inline-flex;
		font-size: var(--fs-2);
		font-weight: bold;
		gap: 1em;
		text-decoration: none;
	}

	a:has(.logo):visited {
		color: currentColor;
	}

	.logo {
		height: 4rem;
		width: 4rem;
	}
</style>
