---
const { label } = Astro.props;
---

<figure>
	{label && <figcaption>{label}</figcaption>}
	<div class="im">
		<slot />
	</div>
</figure>

<style>
	figure {
		border: var(--border);
		border-radius: var(--4px);
		padding: var(--2px);
	}

	figcaption {
		background-color: var(--color-border);
		padding: 0.5em 1em;
	}

	div {
		padding: var(--8px) var(--16px) var(--16px);
	}
</style>

<style is:global>
	.im > ul {
		padding-left: 0;
	}

	.im ul {
		margin-top: 0;
	}

	.im li {
		list-style-type: none;
		margin-top: 0.5em;
	}

	.im li strong:first-child {
		color: var(--color-255-75);
	}

	.im li li strong:first-child {
		color: var(--color-150-75);
	}

	.im li li li strong:first-child {
		color: var(--color-80-75);
	}

	.im li li li li strong:first-child {
		color: var(--color-20-75);
	}

	.im li li li li li strong:first-child {
		color: var(--color-285-75);
	}
</style>
