---
const { date } = Astro.props;
const datetime = date?.toISOString();
const label = date?.toLocaleDateString('en-us', {
	day: 'numeric',
	month: 'long',
	year: 'numeric'
});
---

{date && (
	<p>
		<time datetime={datetime}>{label}</time>
	</p>
)}

<style>
	p {
		font-size: var(--fs-0);
		margin: 1em 0 2em;
	}
</style>
