---
import { getCollection } from 'astro:content';
import { slugFromPost } from '@util/slugFromPost';

const posts = (await getCollection('writings'))
	.filter(({ data }) => import.meta.env.PROD ? !data.draft : true)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<ul>
{
	posts.map((post) => (
		<li>
			<h3>
				<a href={`/${slugFromPost(post)}`}>{post.data.title}</a>
			</h3>
			<p class="pubdate">{post.data.pubDate.getFullYear()}</p>
			<p class="description">{post.data.description}</p>
		</li>
	))
}
</ul>

<style>
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		align-items: baseline;
		display: flex;
		flex-wrap: wrap;
		gap: var(--8px) var(--16px);
		margin: 0;
	}

	.pubdate {
		color: var(--color-muted);
		font-size: var(--fs-0);
		margin: 0;
	}

	.description {
		flex-basis: 100%;
		margin: 0;
	}
</style>
