---
import '@fontsource/libre-franklin/variable.css';
import '@fontsource/libre-franklin/variable-italic.css';
import BaseHead from '@components/BaseHead.astro';
import PublishedDate from '@components/PublishedDate.astro';
import Header from '@components/Header.astro';
import { SITE_TITLE } from '@src/consts';

const { frontmatter = {} } = Astro.props;
const { pubDate, title } = frontmatter
---

<html lang="en">
	<head>
		<BaseHead {...frontmatter} />
	</head>
	<body>
		<Header title={title} />
		<main>
			<h1>{title || SITE_TITLE}</h1>
			<PublishedDate date={pubDate} />
			<slot />
		</main>
	</body>
</html>
