---
import '@fontsource/libre-franklin/variable.css';
import '@fontsource/libre-franklin/variable-italic.css';
import BaseHead from '@components/BaseHead.astro';
import FormattedDate from '@components/FormattedDate.astro';
import Header from '@components/Header.astro';
import { SITE_TITLE } from '@src/consts';

const { frontmatter = {} } = Astro.props;
const { description, pubDate, title } = frontmatter
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header title={title} />
		<main>
			<h1>{title || SITE_TITLE}</h1>
			{pubDate &&
				<div>
					<FormattedDate date={pubDate} />
				</div>
			}
			<slot />
		</main>
		<footer>
			<nav>
				<ul class="list-inline list-inline--center">
					<li><a href="/">Home</a></li>
					<li><a href="/colophon">Colophon</a></li>
					<li><a href="/rss.xml">RSS feed</a></li>
				</ul>
			</nav>
		</footer>
	</body>
</html>
