---
import '@fontsource-variable/libre-franklin';
import '@fontsource-variable/libre-franklin/wght-italic.css';
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import PublishedDate from '@components/PublishedDate.astro';
import { SITE_TITLE } from '@src/consts';

const { frontmatter = {}, type = 'default' } = Astro.props;
const { pubDate, title } = frontmatter
---

<html lang="en">
	<head>
		<BaseHead {...frontmatter} />
	</head>
	<body>
		<Header title={title} />
		<main>
		{type === 'default' &&
			<h1>{title || SITE_TITLE}</h1>
			<slot />
		}
		{type === 'note' &&
			<article>
				<h1>{title || SITE_TITLE}</h1>
				<PublishedDate date={pubDate} />
				<slot />
			</article>
		}
		</main>
		<Footer />
	</body>
</html>
