---
import '@fontsource/libre-franklin/variable.css';
import '@fontsource/libre-franklin/variable-italic.css';
import BaseHead from '@components/BaseHead.astro';
import FormattedDate from '@components/FormattedDate.astro';
import Header from '@components/Header.astro';
import { SITE_TITLE } from '@src/consts';

const { frontmatter = {} } = Astro.props;
const { pubDate, title } = frontmatter
---

<html lang="en">
	<head>
		<BaseHead {...frontmatter} />
	</head>
	<body>
		<Header title={title} />
		<main>
			<h1>{title || SITE_TITLE}</h1>
			{pubDate &&
				<div>
					<FormattedDate date={pubDate} />
				</div>
			}
			<slot />
		</main>
	</body>
</html>
